<% layout('index/layout') %>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://webengage.com">WebEngage</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <p class="navbar-text">SendGrid Mock Server</p>
            </ul>
            <ul class="nav navbar-nav navbar-right" style="margin-right: 5px;">
            	<button id="auto-update-stats" type="button" class="btn btn-default navbar-btn">Start Auto Update Stats (every 5 seconds)</button>
                <button id="update-stats" type="button" class="btn btn-primary navbar-btn">Update Stats</button>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
	<div class="row configuration-panel-container">
    	<div class="col-sm-12">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Configuration</h3>
			  	</div>
			  	<div class="panel-body">
			  		<div class="row">
				  		<div class="col-sm-12">
					  		<div class="col-sm-5 each-configuration-container">
						    	<div class="col-sm-4">
						    		<strong>Max Request Rate</strong>
						    	</div>
						    	<div class="col-sm-6">
						    		<input type="text" class="form-control" id="maxRequestRate" placeholder="100">
						    	</div>
						    	<div class="col-sm-2">
						    		<button id="save-maxRequestRate" type="button" class="btn btn-primary save-configuration-button">Save</button>
						    	</div>
						    </div>
							
							<div class="col-sm-5 each-configuration-container pull-right">
								<div class="col-sm-4">
						    		<strong>Max Error Rate (0.0 to 1.0)</strong>
						    	</div>
						    	<div class="col-sm-6">
						    		<input type="text" class="form-control" id="maxErrorRate" placeholder="0.2">
						    	</div>
						    	<div class="col-sm-2">
						    		<button id="save-maxErrorRate" type="button" class="btn btn-primary save-configuration-button">Save</button>
						    	</div>
						    </div>
						</div>
					</div>
					
					<br>

					<div class="row">
						<div class="col-sm-12">
						    <div class="col-sm-5 each-configuration-container">
								<div class="col-sm-4">
						    		<strong>WebHooks URL</strong>
						    	</div>
						    	<div class="col-sm-6">
						    		<input type="text" class="form-control" id="webhooksUrl" placeholder="">
						    	</div>
						    	<div class="col-sm-2">
						    		<button id="save-webhooksUrl" type="button" class="btn btn-primary save-configuration-button">Save</button>
						    	</div>
						    </div>

						    <div class="col-sm-5 each-configuration-container pull-right">
								<div class="col-sm-4">
						    		<strong>Recepient to receive mail (Optional)</strong>
						    	</div>
						    	<div class="col-sm-6">
						    		<input type="text" class="form-control" id="testRecepient" value="" placeholder="nitin@webklipper.com">
						    	</div>
						    	<div class="col-sm-2">
						    		<button id="save-testRecepient" type="button" class="btn btn-primary save-configuration-button">Save</button>
						    	</div>
						    </div>
						</div>
					</div>
			  	</div>
			</div>
    	</div>
    </div>


    <div class="row stats-table-container-row">
        <div class="col-sm-12">
        	<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Running Stats and Config Details</h3>
			  	</div>
			  	<div class="panel-body">
					<table id="main-table" class="table table-striped table-bordered">
		                <thead>
		                    <tr>
		                        <th>Number of requests</th>
		                        <th>Max Allowed Request Rate</th>
		                        <th>Error Rate</th>
		                        <th>Current Request Rate</th>
		                        <th>Success Count</th>
		                        <th>Failure Count</th>
		                        <th>Server Error Count</th>
		                        <th>Last Error Message</th>
		                    </tr>
		                </thead>
		                <tbody id="main-table-body">
		                </tbody>
		            </table>

		            <table id="main-config-table" class="table table-striped table-bordered">
		                <thead>
		                    <tr>
		                        <th>Webhooks Url</th>
		                        <th>Test Recepient Email</th>
		                    </tr>
		                </thead>
		                <tbody id="main-config-table-body">
		                </tbody>
		            </table>
			  	</div>
			</div>
        </div>
    </div>
</div>
<script type="text/javascript">
	var overallStats = JSON.parse('<%- JSON.stringify(overallStats) %>');
	var staticConfig = JSON.parse('<%- JSON.stringify(staticConfig) %>');

	var templateStatsTable = null, templateConfigTable = null;
	var statsTableHtml = null;
	var autoUpdateInterval = null;

	var getStats = function(successCb, errorCb){
		$.ajax({
	        type: 'GET',
	        dataType: 'json',
	        data: {},
	        url: '/api/mail.send.json/api/stats',
	    })
	    .done(successCb)
	    .fail(errorCb);	
	};

	var updateConfiguration = function(endpoint, configData, successCb, errorCb){
		$.ajax({
	        type: 'POST',
	        dataType: 'json',
	        data: configData,
	        url: '/api/mail.send.json/api/config/' + endpoint,
	    })
	    .done(successCb)
	    .fail(errorCb);	
	};
	
	var updateStatsRow = function(jsonToUpdateWith){
		var updatesStatsRowHtml = templateStatsTable(jsonToUpdateWith);
		$("#main-table-body").empty();
		$("#main-table-body").append($(updatesStatsRowHtml));
	};

	var updateConfigRow = function(jsonToUpdateWith){
		var updatesConfigRowHtml = templateConfigTable(jsonToUpdateWith);
		$("#main-config-table-body").empty();
		$("#main-config-table-body").append($(updatesConfigRowHtml));
	};

	var drawUi = function(){
		updateStatsRow(overallStats);
		updateConfigRow(staticConfig);
		
		$("#update-stats").click(function(){
			getStats(function(data){
				updateStatsRow(data.overallStats);
				updateConfigRow(data.staticConfig);
			}, function(jqXHR, textStatus){
				alert("Error: " + textStatus);
			});
		});

		$("#auto-update-stats").click(function(){
			if(autoUpdateInterval == null) {
				$(this).text("Stop Auto Update Stats (every 5 seconds)");
				$(this).removeClass("btn-default").addClass("btn-danger");
				autoUpdateInterval = setInterval(function(){
					getStats(function(data){
						updateStatsRow(data.overallStats);
						updateConfigRow(data.staticConfig);
					}, function(jqXHR, textStatus){
						console.log("Error: " + textStatus);
					});
				}, 5000);
			} else {
				$(this).text("Start Auto Update Stats (every 5 seconds)");
				$(this).removeClass("btn-danger").addClass("btn-default");
				clearInterval(autoUpdateInterval);
				autoUpdateInterval = null;
			}
		});

		$(".save-configuration-button").each(function(){
			$(this).click(function(){
				var $parent = $(this).parents(".each-configuration-container:eq(0)");
				var $input = $parent.find("input:eq(0)");
				var id = $input.attr('id');
				var value = $input.val();

				updateConfiguration(id, {'value':value}, function(data){
					alert(JSON.stringify(data));
				}, function(jqXHR, textStatus){
					alert("Error: " + textStatus);
				});
			});
		});
	};

	Handlebars.getTemplate('stats-table', 'index/', function(templateCode){
		templateStatsTable = templateCode;
		
		Handlebars.getTemplate('config-table', 'index/', function(templateCode){
			templateConfigTable = templateCode;

			$(document).ready(function(){
				drawUi();
			});
		});
	});
</script>