<tr>
	<td>{{numRequests}}</td>
	<td>{{maxRequestRate}}</td>
	<td>{{maxErrorRate}}</td>
	<td>{{curRequestRate}}</td>
	<td>{{successCount}}</td>
	<td>{{failureCount}}</td>
	<td>{{serverErrorCount}}</td>
	<td>{{lastErrorMessage}}</td>
</tr>
